// Branding
$brand_primary_font: Arial, Helvetica, sans-serif;
$brand_primary_color: rgb(40, 40, 194);

// Buttons
$button_primary_bg_color: $brand_primary_color;

// Header
$header_bg_color: $brand_primary_color;
$header_font_color: #FFF;